.carousel {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  height: 400px;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: contain;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  height: 50px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-back {
  left: 1rem;
}

.arrow-forward {
  right: 1rem;
}

.indicator {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 500;
  bottom: 10px;
}

/*******  MEDIA QUERIES  *******/
@media (min-width: 600px) {
  .arrow {
    height: 100px;
  }
}
