.content-ul {
  list-style: none;
}

.dropdown {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: left;
  height: 30px;
  cursor: pointer;
}

.title h2 {
  font-weight: 500;
  padding: 0 20px;
  font-size: 13px;
}

.arrows {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.arrows img {
  height: 20px;
}

.content {
  height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  width: 100%;
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: 14px;
  text-align: start;
}

.content ul {
  list-style: none;
}

.show {
  height: 150px;
  padding: 15px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

/*******  MEDIA QUERIES  *******/
@media (min-width: 600px) {
  .title {
    height: 40px;
  }

  .title h2 {
    font-size: 16px;
  }

  .content {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .dropdown {
    max-width: 75%;
  }
}
