.collapsibles-wrapper {
  width: 80vw;
  margin: 0 90px;
  height: auto;

  @media (min-width: 600px) {
    margin: 0 90px;
  }
}
.collapsibles {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    /* width: 80%; */
    gap: 50px;
    flex-wrap: nowrap;
  }
}

.collapsibles-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: left;
  height: 30px;
  cursor: pointer;

  @media (min-width: 600px) {
    height: 47px;
  }
}

.collapsibles-title h2 {
  font-weight: 500;
  padding: 0 20px;
  font-size: 13px;

  @media (min-width: 600px) {
    font-size: 24px;
  }
}

.collapsibles-arrows {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.collapsibles-content {
  height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  width: 100%;
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: 12px;
  text-align: start;

  @media (min-width: 650px) {
    font-size: 24px;
  }
}

.show {
  height: auto;
  padding: 20px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.list {
  display: flex;
}
