.nf-div {
  min-height: 100vh;
  min-width: 100wh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
}

.nf-number {
  font-size: 96px;
}

.nf-text {
  font-size: 18px;
}

.nf-link {
  color: #ff6060;
  padding-top: 90px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .nf-number {
    font-size: 288px;
    font-weight: bold;
  }

  .nf-text {
    font-size: 36px;
  }

  .nf-link {
    font-size: 18px;
  }
}
