.profile-container {
  justify-content: space-between;
  margin: 20px auto;
  color: #ff6060;
}

/* DIV APPART-NAME */

.appart-title {
  font-weight: 500;
  font-size: 19px;
}

.apart-city {
  margin: 10px 0;
  font-size: 13px;
}

/* DIV TAG CONTAINER */

.tag-container {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  color: white;
  font-size: 9px;
  height: 100%;
  width: auto;
  padding: 3px 18px;
  border-radius: 5px;
}

/* DIV TENANT */

.tenant {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tenant-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tenant-name {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 11px;
  font-weight: 500;
}

.tenant-photo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
